<div class="block">
  <div class="title">New Anime</div>
  <div class="columns">
    <div class="column is-2" :for={anime <- @new_anime} >
      <.anime_card anime={anime} />
    </div>
  </div>
</div>

<div class="block">
  <div class="title">Top Anime</div>

  <div class="columns">
    <div class="column is-2" :for={anime <- @top_anime}>
      <.anime_card anime={anime} />
    </div>
  </div>
</div>
