<div class="block">
  <div class="title">New Anime</div>
  <div class="columns">
    <div class="column is-2" :for={review <- @new_anime} >
      <.anime_card summary={review.summary} />
    </div>
  </div>
</div>

<div class="block">
  <div class="title">Top Anime</div>

  <div class="columns">
    <div class="column is-2" :for={review <- @top_anime}>
      <.anime_card summary={review.summary} />
    </div>
  </div>
</div>
