<title>Home · Chuuni</title>

<div class="block" hx-boost="true">
  <div class="title">New Anime</div>
  <div class="columns">
    <div class="column is-2" :for={review <- @new_anime} >
      <.anime_card summary={review.summary} />
    </div>
  </div>
</div>

<div class="block" hx-boost="true">
  <div class="title">Recently Popular</div>

  <div class="columns">
    <div class="column is-2" :for={review <- @trending}>
      <.anime_card summary={review} />
    </div>
  </div>
</div>
