<div id="search-controls">
  <.header>
    Find anime to review
  </.header>
  <div class="control has-icons-left">
    <input
      class="input"
      type="text"
      name="query"
      placeholder="Search"
      hx-get="/anime/search"
      hx-trigger="keyup changed delay:500ms"
      hx-target="#search-controls"
      hx-swap="afterend"
    />
    <span class="icon is-left">
      <.icon name="hero-magnifying-glass" />
    </span>
  </div>
</div>
