<title>Settings · Chuuni</title>

<.header class="text-center">
  Account Settings
  <:subtitle>Manage your account email address and password settings</:subtitle>
</.header>

<div class="block">
<.display_name_form changeset={@display_name_changeset} />
</div>
<div class="block">
<.email_form email_changeset={@email_changeset} />
</div>
<div class="block">
<.password_form password_changeset={@email_changeset} />
</div>
