<.header class="text-center">
  Account Settings
  <:subtitle>Manage your account email address and password settings</:subtitle>
</.header>

<.email_form email_changeset={@email_changeset} />
<.password_form password_changeset={@email_changeset} />
