<article class="message is-danger">
  <div class="message-header">
    <p>Error</p>
    <button class="delete" hx-get={~p"/"} hx-swap="outerHTML" hx-target="body" hx-push-url="true"></button>
  </div>
  <div class="message-body">
    <p>You must be logged in to view this page.</p>
  </div>
</article>
