<section class="block">
  <h2 class="title is-4">Reviews</h2>

  <%= if Enum.count(@reviews) == 0 do %>
    <p>This anime has not been reviewed yet.</p>
  <% end %>

  <div :for={review <- @reviews} class="block">
    <ChuuniWeb.ReviewHTML.review_card review={review} />
  </div>
</section>
