<title translate="no">About · Chuuni</title>

<div class="columns">
  <div class="column is-3">
    <.menu active={:about} />
  </div>

  <div class="column">
    <article class="content">
      <h1 class="title">About Chuuni</h1>
      <p>
        Chuuni is an anime review site that federates over ActivityPub.
      </p>
    </article>
  </div>
</div>
