<div>
  <.header>
    Register for an account
    <:subtitle>
      Already registered?
      <a href={~p"/login"} hx-boost="true">
        Sign in
      </a>
      to your account now.
    </:subtitle>
  </.header>

<.register_form changeset={@changeset} />
</div>
