<div>
  <.header>
    Register for an account
    <:subtitle>
      Already registered?
      <.link navigate={~p"/users/log_in"}>
        Sign in
      </.link>
      to your account now.
    </:subtitle>
  </.header>

<.register_form changeset={@changeset} />
</div>
