<.header>
  Edit Shelf <%= @shelf.id %>
  <:subtitle>Use this form to manage shelf records in your database.</:subtitle>
</.header>

<.shelf_form changeset={@changeset} action={~p"/shelves/#{@shelf}"} />

<.back navigate={~p"/shelves"}>Back to shelves</.back>
