<.header>
  Your Anime
  <:actions>
    <.link href={~p"/shelves/new"}>
      <.button>New Shelf</.button>
    </.link>
  </:actions>
</.header>

<div class="tabs">
  <ul>
    <li class="is-active"><a href={~p"/shelves"}>All Anime</a></li>
    <li :for={shelf <- @shelves}><a href={~p"/shelves/#{shelf}"}><%= shelf.title %></a></li>
  </ul>
</div>

<div id="shelf-items">

</div>
