<div id="profile-body">
  <.profile_tabs active_tab={:activity} user={@user} hx-target="#profile-body" />

  <p class="title is-size-4 has-text-centered">Recent Activity</p>
  <.activity_card :for={review <- @recent} review={review} />
</div>
