<div id="profile-body">
  <.profile_tabs active_tab={:all_time} user={@user} hx-target="#profile-body" />

  <p class="title is-size-4 has-text-centered">Highest Rated</p>
  <.activity_card :for={review <- @top_ten} review={review} />
</div>
