<div>
  <.header>
    Sign in to account
    <:subtitle>
      Don't have an account?
      <.link navigate={~p"/users/register"}>
        Sign up
      </.link>
      for an account now.
    </:subtitle>
  </.header>

  <.log_in_form />

  <.link href={~p"/users/reset_password"}>
    Forgot your password?
  </.link>
</div>
