<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chuuni</title>

    <script async src={~p"/js/hyperscript.js"} integrity="sha512-UPUKoNNLO0B5K1RbmFZq6bB6BSpfU4xjqAn3YuWnvEnAQ8P+cM1EXbFLsGjMp+Zm+1E5K2vZzEHgJQ8YBPu96w==" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src={~p"/assets/app.js"}></script>
    <link rel="stylesheet" href={~p"/css/bulma.css"} />

    <link rel="author" href={~p"/humans.txt"} />
    <link rel="icon" href={~p"/favicon.ico"} />
    <link rel="manifest" href={~p"/site.webmanifest"} />
    <link rel="apple-touch-icon" href={~p"/apple-touch-icon.png"} />

    <meta name="csrf-token" content={get_csrf_token()} />
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
