<.header>
  Edit Review
  <:subtitle>Last updated <%= @review.updated_at %></:subtitle>
</.header>

<div class="columns">
  <div class="column is-3">
    <ChuuniWeb.AnimeHTML.summary_card anime={@review.anime} />
  </div>
  <div class="column">
    <.review_form_card author={@review.author} changeset={@changeset} action={~p"/reviews/#{@review}"} />
  </div>
</div>

<.back navigate={~p"/reviews"}>Back to reviews</.back>
