<.header>
  Edit Review <%= @review.id %>
  <:subtitle>Use this form to manage review records in your database.</:subtitle>
</.header>

<.review_form changeset={@changeset} action={~p"/reviews/#{@review}"} />

<.back navigate={~p"/reviews"}>Back to reviews</.back>
