<.header>
  Write a review
  <:subtitle>Share your opinion.</:subtitle>
</.header>

<div class="columns">
  <div :if={@anime} class="column is-4">
    <ChuuniWeb.AnimeHTML.summary_card anime={@anime} />
  </div>
  <div class="column">
    <.review_form changeset={@changeset} action={~p"/reviews"} />
  </div>
</div>
