<.simple_form :let={f} for={@changeset} action={@action}>
  <.input field={f[:rating]} type="select" prompt="Select your rating" options={10..1} required="true" />
  <.input field={f[:body]} type="textarea" placeholder="I thought it was..." />
  <:actions>
    <.button class="is-primary" type="submit">Save Review</.button>
  </:actions>
</.simple_form>
