<.header>
  <%= @review.author.name %>'s review of <%= @review.item_reviewed %>
  <:subtitle><%= @review.updated_at %></:subtitle>
  <:actions>
    <.link href={~p"/reviews/#{@review}/edit"}>
      <.button>Edit review</.button>
    </.link>
  </:actions>
</.header>

<p><%= @review.body %></p>

<.back navigate={~p"/reviews"}>Back to reviews</.back>
