<.header>
  Community Aggregate Ratings
  <:actions>
    <.link href={~p"/ratings/new"}>
      <.button>New Rating</.button>
    </.link>
  </:actions>
</.header>

<.table id="ratings" rows={@ratings}>
  <:col :let={rating} label="Item rated"><%= rating.item_rated %></:col>
  <:col :let={rating} label="Rating"><%= rating.value %></:col>
  <:col :let={rating} label="Total ratings"><%= rating.count %></:col>
</.table>
