<.header>
  New Rating
  <:subtitle>Use this form to manage rating records in your database.</:subtitle>
</.header>

<.rating_form changeset={@changeset} action={~p"/ratings"} />

<.back navigate={~p"/ratings"}>Back to ratings</.back>
