<.header>
  Rating <%= @rating.id %>
  <:subtitle>This is a rating record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/ratings/#{@rating}/edit"}>
      <.button>Edit rating</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Value"><%= @rating.value %></:item>
  <:item title="Value worst"><%= @rating.value_worst %></:item>
  <:item title="Value best"><%= @rating.value_best %></:item>
</.list>

<.back navigate={~p"/ratings"}>Back to ratings</.back>
